<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>الفاتحة</string>
	<string>البقرة</string>
	<string>آل عمران</string>
	<string>النساء</string>
	<string>المائدة</string>
	<string>اﻷنعام</string>
	<string>اﻷعراف</string>
	<string>اﻷنفال</string>
	<string>التوبة</string>
	<string>يونس</string>
	<string>هود</string>
	<string>يوسف</string>
	<string>الرعد</string>
	<string>إبراهيم</string>
	<string>الحجر</string>
	<string>النحل</string>
	<string>اﻹسراء</string>
	<string>الكهف</string>
	<string>مريم</string>
	<string>طه</string>
	<string>اﻷنبياء</string>
	<string>الحج</string>
	<string>المؤمنون</string>
	<string>النور</string>
	<string>الفرقان</string>
	<string>الشعراء</string>
	<string>النمل</string>
	<string>القصص</string>
	<string>العنكبوت</string>
	<string>الروم</string>
	<string>لقمان</string>
	<string>السجدة</string>
	<string>اﻷحزاب</string>
	<string>سبأ</string>
	<string>فاطر</string>
	<string>يس</string>
	<string>الصافات</string>
	<string>ص</string>
	<string>الزمر</string>
	<string>غافر</string>
	<string>فصلت</string>
	<string>الشورى</string>
	<string>الزخرف</string>
	<string>الدخان</string>
	<string>الجاثية</string>
	<string>اﻷحقاف</string>
	<string>محمد</string>
	<string>الفتح</string>
	<string>الحجرات</string>
	<string>ق</string>
	<string>الذاريات</string>
	<string>الطور</string>
	<string>النجم</string>
	<string>القمر</string>
	<string>الرحمن</string>
	<string>الواقعة</string>
	<string>الحديد</string>
	<string>المجادلة</string>
	<string>الحشر</string>
	<string>الممتحنة</string>
	<string>الصف</string>
	<string>الجمعة</string>
	<string>المنافقون</string>
	<string>التغابن</string>
	<string>الطلاق</string>
	<string>التحريم</string>
	<string>الملك</string>
	<string>القلم</string>
	<string>الحاقة</string>
	<string>المعارج</string>
	<string>نوح</string>
	<string>الجن</string>
	<string>المزمل</string>
	<string>المدثر</string>
	<string>القيامة</string>
	<string>اﻹنسان</string>
	<string>المرسلات</string>
	<string>النبأ</string>
	<string>النازعات</string>
	<string>عبس</string>
	<string>التكوير</string>
	<string>الانفطار</string>
	<string>المطففين</string>
	<string>الانشقاق</string>
	<string>البروج</string>
	<string>الطارق</string>
	<string>اﻷعلى</string>
	<string>الغاشية</string>
	<string>الفجر</string>
	<string>البلد</string>
	<string>الشمس</string>
	<string>الليل</string>
	<string>الضحى</string>
	<string>الشرح</string>
	<string>التين</string>
	<string>العلق</string>
	<string>القدر</string>
	<string>البينة</string>
	<string>الزلزلة</string>
	<string>العاديات</string>
	<string>القارعة</string>
	<string>التكاثر</string>
	<string>العصر</string>
	<string>الهمزة</string>
	<string>الفيل</string>
	<string>قريش</string>
	<string>الماعون</string>
	<string>الكوثر</string>
	<string>الكافرون</string>
	<string>النصر</string>
	<string>المسد</string>
	<string>اﻹخلاص</string>
	<string>الفلق</string>
	<string>الناس</string>
</array>
</plist>
