<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Al-Fatihah</string>
	<string>Al-Baqarah</string>
	<string>Aal-E-Imran</string>
	<string>An-Nisa </string>
	<string>Al-Ma&apos;idah</string>
	<string>Al-An&apos;am</string>
	<string>Al-A&apos;raf</string>
	<string>Al-Anfal</string>
	<string>At-Tawbah</string>
	<string>Yunus</string>
	<string>Hud</string>
	<string>Yusuf</string>
	<string>Ar-Ra&apos;d</string>
	<string>Ibrahim</string>
	<string>Al-Hijr</string>
	<string>An-Nahl</string>
	<string>Al-Isra&apos;</string>
	<string>Al-Kahf</string>
	<string>Maryam</string>
	<string>Ta-Ha</string>
	<string>Al-Anbiya&apos;</string>
	<string>Al-Hajj</string>
	<string>Al-Mu&apos;minun</string>
	<string>An-Nur</string>
	<string>Al-Furqan</string>
	<string>Ash-Shu&apos;ara</string>
	<string>An-Naml</string>
	<string>Al-Qasas</string>
	<string>Al-Ankabut</string>
	<string>Ar-Rum</string>
	<string>Luqman</string>
	<string>As-Sajdah</string>
	<string>Al-Ahzab</string>
	<string>Saba&apos;</string>
	<string>Fatir</string>
	<string>Ya-Seen</string>
	<string>As-Saaffat</string>
	<string>Sad</string>
	<string>Az-Zumar</string>
	<string>Ghafir</string>
	<string>Fussilat</string>
	<string>Ash-Shura</string>
	<string>Az-Zukhruf</string>
	<string>Ad-Dukhan</string>
	<string>Al-Jathiya</string>
	<string>Al-Ahqaf</string>
	<string>Muhammad</string>
	<string>Al-Fath</string>
	<string>Al-Hujurat</string>
	<string>Qaf</string>
	<string>Adh-Dhariyat</string>
	<string>At-Tur</string>
	<string>An-Najm</string>
	<string>Al-Qamar</string>
	<string>Ar-Rahman</string>
	<string>Al-Waqi&apos;ah</string>
	<string>Al-Hadid</string>
	<string>Al-Mujadila</string>
	<string>Al-Hashr</string>
	<string>Al-Mumtahana</string>
	<string>As-Saf</string>
	<string>Al-Jumu&apos;ah</string>
	<string>Al-Munafiqun</string>
	<string>At-Taghabun</string>
	<string>At-Talaq</string>
	<string>At-Tahrim</string>
	<string>Al-Mulk</string>
	<string>Al-Qalam</string>
	<string>Al-Haqqah</string>
	<string>Al-Ma&apos;arij</string>
	<string>Nuh</string>
	<string>Al-Jinn</string>
	<string>Al-Muzzammil</string>
	<string>Al-Muddaththir</string>
	<string>Al-Qiyamah</string>
	<string>Al-Insan</string>
	<string>Al-Mursalat</string>
	<string>An-Naba&apos;</string>
	<string>An-Nazi&apos;at</string>
	<string>&apos;Abasa</string>
	<string>At-Takwir</string>
	<string>Al-Infitar</string>
	<string>Al-Mutaffifin</string>
	<string>Al-Inshiqaq</string>
	<string>Al-Buruj</string>
	<string>At-Tariq</string>
	<string>Al-A&apos;la</string>
	<string>Al-Ghashiyah</string>
	<string>Al-Fajr</string>
	<string>Al-Balad</string>
	<string>Ash-Shams</string>
	<string>Al-Layl</string>
	<string>Ad-Dhuhaa</string>
	<string>Al-Sharh</string>
	<string>At-Tin</string>
	<string>Al-Alaq</string>
	<string>Al-Qadr</string>
	<string>Al-Bayyinah</string>
	<string>Az-Zalzalah</string>
	<string>Al-Adiyat</string>
	<string>Al-Qari&apos;ah</string>
	<string>At-Takathur</string>
	<string>Al-Asr</string>
	<string>Al-Humazah</string>
	<string>Al-Fil</string>
	<string>Quraysh</string>
	<string>Al-Ma&apos;un</string>
	<string>Al-Kawthar</string>
	<string>Al-Kafirun</string>
	<string>An-Nasr</string>
	<string>Al-Masad</string>
	<string>Al-Ikhlas</string>
	<string>Al-Falaq</string>
	<string>An-Nas</string>
</array>
</plist>
