<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>1</key><string>الفاتحة</string>
    <key>2</key><string>البقرة</string>
    <key>3</key><string>آل عمران</string>
    <key>4</key><string>النساء</string>
    <key>5</key><string>المائدة</string>
    <key>6</key><string>اﻷنعام</string>
    <key>7</key><string>اﻷعراف</string>
    <key>8</key><string>اﻷنفال</string>
    <key>9</key><string>التوبة</string>
    <key>10</key><string>يونس</string>
    <key>11</key><string>هود</string>
    <key>12</key><string>يوسف</string>
    <key>13</key><string>الرعد</string>
    <key>14</key><string>إبراهيم</string>
    <key>15</key><string>الحجر</string>
    <key>16</key><string>النحل</string>
    <key>17</key><string>اﻹسراء</string>
    <key>18</key><string>الكهف</string>
    <key>19</key><string>مريم</string>
    <key>20</key><string>طه</string>
    <key>21</key><string>اﻷنبياء</string>
    <key>22</key><string>الحج</string>
    <key>23</key><string>المؤمنون</string>
    <key>24</key><string>النور</string>
    <key>25</key><string>الفرقان</string>
    <key>26</key><string>الشعراء</string>
    <key>27</key><string>النمل</string>
    <key>28</key><string>القصص</string>
    <key>29</key><string>العنكبوت</string>
    <key>30</key><string>الروم</string>
    <key>31</key><string>لقمان</string>
    <key>32</key><string>السجدة</string>
    <key>33</key><string>اﻷحزاب</string>
    <key>34</key><string>سبأ</string>
    <key>35</key><string>فاطر</string>
    <key>36</key><string>يس</string>
    <key>37</key><string>الصافات</string>
    <key>38</key><string>ص</string>
    <key>39</key><string>الزمر</string>
    <key>40</key><string>غافر</string>
    <key>41</key><string>فصلت</string>
    <key>42</key><string>الشورى</string>
    <key>43</key><string>الزخرف</string>
    <key>44</key><string>الدخان</string>
    <key>45</key><string>الجاثية</string>
    <key>46</key><string>اﻷحقاف</string>
    <key>47</key><string>محمد</string>
    <key>48</key><string>الفتح</string>
    <key>49</key><string>الحجرات</string>
    <key>50</key><string>ق</string>
    <key>51</key><string>الذاريات</string>
    <key>52</key><string>الطور</string>
    <key>53</key><string>النجم</string>
    <key>54</key><string>القمر</string>
    <key>55</key><string>الرحمن</string>
    <key>56</key><string>الواقعة</string>
    <key>57</key><string>الحديد</string>
    <key>58</key><string>المجادلة</string>
    <key>59</key><string>الحشر</string>
    <key>60</key><string>الممتحنة</string>
    <key>61</key><string>الصف</string>
    <key>62</key><string>الجمعة</string>
    <key>63</key><string>المنافقون</string>
    <key>64</key><string>التغابن</string>
    <key>65</key><string>الطلاق</string>
    <key>66</key><string>التحريم</string>
    <key>67</key><string>الملك</string>
    <key>68</key><string>القلم</string>
    <key>69</key><string>الحاقة</string>
    <key>70</key><string>المعارج</string>
    <key>71</key><string>نوح</string>
    <key>72</key><string>الجن</string>
    <key>73</key><string>المزمل</string>
    <key>74</key><string>المدثر</string>
    <key>75</key><string>القيامة</string>
    <key>76</key><string>اﻹنسان</string>
    <key>77</key><string>المرسلات</string>
    <key>78</key><string>النبأ</string>
    <key>79</key><string>النازعات</string>
    <key>80</key><string>عبس</string>
    <key>81</key><string>التكوير</string>
    <key>82</key><string>الانفطار</string>
    <key>83</key><string>المطففين</string>
    <key>84</key><string>الانشقاق</string>
    <key>85</key><string>البروج</string>
    <key>86</key><string>الطارق</string>
    <key>87</key><string>اﻷعلى</string>
    <key>88</key><string>الغاشية</string>
    <key>89</key><string>الفجر</string>
    <key>90</key><string>البلد</string>
    <key>91</key><string>الشمس</string>
    <key>92</key><string>الليل</string>
    <key>93</key><string>الضحى</string>
    <key>94</key><string>الشرح</string>
    <key>95</key><string>التين</string>
    <key>96</key><string>العلق</string>
    <key>97</key><string>القدر</string>
    <key>98</key><string>البينة</string>
    <key>99</key><string>الزلزلة</string>
    <key>100</key><string>العاديات</string>
    <key>101</key><string>القارعة</string>
    <key>102</key><string>التكاثر</string>
    <key>103</key><string>العصر</string>
    <key>104</key><string>الهمزة</string>
    <key>105</key><string>الفيل</string>
    <key>106</key><string>قريش</string>
    <key>107</key><string>الماعون</string>
    <key>108</key><string>الكوثر</string>
    <key>109</key><string>الكافرون</string>
    <key>110</key><string>النصر</string>
    <key>111</key><string>المسد</string>
    <key>112</key><string>اﻹخلاص</string>
    <key>113</key><string>الفلق</string>
    <key>114</key><string>الناس</string>
</dict>
</plist>
